@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-whiteText dark:bg-accentDarker;
}

.container {
  @apply px-4 md:px-8 xl:px-24 mx-auto;
}

.main-title {
  @apply font-main font-semibold text-mainText text-customLg md:text-customXl xl:text-customXxl pt-[50px] md:pt-[72px] xl:pt-[100px];
}

.main-title-accent {
  @apply font-main font-semibold text-accentMain text-customBase md:text-customXxl pt-[114px] mb-[18px] md:pt-[72px] md:mb-6 xl:pt-[100px];
}

.main-btn {
  @apply py-5 px-52px ml-2  rounded-tr-3xl rounded-br-lg rounded-bl-3xl rounded-tl-lg border font-main text-zinc-50 text-base bg-accentMain hover:bg-accentDark  focus:ring;
}
.custom-btn {
  @apply py-6 px-14 ml-2  rounded-tr-full rounded-bl-full border font-main text-zinc-50 text-base bg-accentMain hover:bg-accentDark  focus:ring;
}

.subscribe-btn {
  @apply flex justify-center items-center transition duration-300 text-sm rounded-md px-[71px] py-[11px]  gap-2 md:px-[50px] md:py-[16px]  xl:px-[138px] xl:py-[21px] font-main text-zinc-50 md:text-base bg-accentMain hover:text-accentDark focus:ring  sm:leading-4 md:leading-4 xl:leading-4;
}

.signup-btn {
  @apply flex justify-center items-center transition duration-300 rounded-md px-[110px] py-[14px]  gap-2 md:px-[138px] md:py-[21px] font-main text-zinc-50 text-sm md:text-base bg-accentMain hover:text-accentDark focus:ring  sm:leading-4 md:leading-4 xl:leading-4;
}

.logout-btn {
  @apply flex justify-center items-center transition duration-300 text-sm
   rounded-md px-[42.5px] py-[15.5px]  gap-2 md:px-[65.5px] md:py-[20.5px] md:text-base font-main text-zinc-50  bg-accentMain hover:bg-accentDark focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

.cancel-btn {
  @apply flex justify-center items-center transition duration-300 text-sm 
   rounded-md px-[42.5px] py-[15.5px]  gap-2 md:px-[65.5px] md:py-[20.5px] md:text-base font-main text-accentDark bg-accentGray hover:bg-transparent hover:outline hover:outline-1 hover:outline-accentDark m-2 focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

.registration-btn {
  @apply transition duration-300 px-[44px] py-[22px]  font-main text-zinc-50 text-sm md:text-base bg-accentMain hover:bg-accentDark  focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

.signin-btn {
  @apply transition duration-300 px-[44px] py-[22px]  border-2 border-zinc-50 text-zinc-50 bg-transparent font-main  text-sm md:text-base hover:bg-zinc-50 hover:text-accentMain hover:outline-accentMain  focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

.searchbl-btn {
  @apply transition duration-300 px-[31.7px] py-[15.7px]  md:px-[52-px] md:py-[18px] xl:px-[52px] xl:py-[23px]  rounded-tr-full font-main text-zinc-50 text-sm md:text-base bg-accentDark hover:bg-accentMain focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

.searchgreen-btn {
  @apply transition duration-300 px-[31.7px] py-[15.7px] md:px-[52-px] md:py-[18px] xl:px-[52px] xl:py-[23px] text-sm bg-accentMain font-main text-zinc-50 md:text-base hover:bg-accentDark focus:ring sm:leading-4 md:leading-4 xl:leading-4;
}

@layer components {
  .othercateg-btn {
    @apply transition duration-300 px-[31.7px] py-[15.7px] md:px-[52-px] md:py-[18px] xl:px-[52px] xl:py-[23px] border-2 border-accentMain text-accentDark text-sm bg-transparent hover:bg-accentMain  hover:text-zinc-50 font-main md:text-base  focus:ring sm:leading-4 md:leading-4 xl:leading-4;
  }
}

.addblack-btn {
  @apply transition duration-300 px-[48px] py-[12px] xl:px-[64px] xl:py-[14px] rounded-tr-full font-main text-zinc-50 text-sm md:text-base bg-accentDark hover:bg-accentMain focus:ring sm:leading-6 md:leading-6 xl:leading-6;
}

.addbgreen-btn {
  @apply transition duration-300 px-[48px] py-[12px] xl:px-[64px] xl:py-[14px] rounded-tr-full font-main text-zinc-50 text-sm md:text-base hover:bg-accentDark bg-accentMain focus:ring sm:leading-6 md:leading-6 xl:leading-6;
}

.seerecipe-btn {
  @apply transition duration-300 px-[48px] py-[12px] xl:px-[38px] xl:py-[14px] rounded-tr-full font-main text-zinc-50 text-sm md:text-base bg-accentDark hover:bg-accentMain focus:ring sm:leading-6 md:leading-6 xl:leading-6 whitespace-nowrap;
}

.seerecipegreen-btn {
  @apply transition duration-300 px-[48px] py-[12px] xl:px-[38px] xl:py-[14px] rounded-tr-full font-main text-zinc-50 text-sm md:text-base hover:bg-accentDark bg-accentMain focus:ring sm:leading-6 md:leading-6 xl:leading-6 whitespace-nowrap;
}

.divIconLogo {
  @apply transition duration-300  flex items-center justify-center w-10 h-10  xl:w-11 xl:h-11 bg-accentMain rounded-xl;
}
.iconLogo {
  @apply transition duration-300   fill-white w-7 h-7 xl:w-[30px] xl:h-[30px];
}

.divIconTrash {
  @apply transition duration-300  flex items-center justify-center w-[24px] h-[24px] md:w-[38px] md:h-[38px]   xl:w-11 xl:h-11 bg-[#EBF3D4] rounded-xl hover:bg-accentMain hover:fill-zinc-50;
}

.iconTrash {
  @apply transition duration-300 w-[14px] h-[14px] md:w-[22px] md:h-[22px] xl:w-[24px] xl:h-[24px];
}

.-z-1 {
  z-index: -1;
}

.origin-0 {
  transform-origin: 0%;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value='']):valid ~ label {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-scale-x: 0.75;
  --tw-scale-y: 0.75;
  --tw-translate-y: -1.5rem;
}

input:focus ~ label,
select:focus ~ label {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
  left: 0px;
}
